body {
    width: 500px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

button {
    color: white;
    font-size: 14px;
    background-color: #60affc;
    border-radius: 5px;
    border: 1px white solid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
    box-shadow: none;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: rgb(60, 47, 240);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
    background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    width: 100%;
    background-color: #FFF;
    font-size: 12px;
}

h1 {
    font-weight: normal;
    text-align: center;
}